# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Some commonly used libraries by Data Scientists.
* Open Source tools for Data Science.
* Arithmetic Operations using Python.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++
5. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Numpy
4. Vegas
5. Caret
6. ggplot2
7. Lattice
8. sciket-learn
9. Seaborn

|Data Science Tools|
|------------------|
|Jupyter lab|
|Github|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python
Print("(3*4)+5")

In [4]:
 #This a simple arithmetic expression to mutiply then add integers.
print ((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author
Israr Ullah